@import url("https://fonts.googleapis.com/css?family=Cousine&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url(../fon2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font: 3em "Open Sans", sans-serif;
  margin: 50px 0 30px;
}

.container-num > a {
  font-family: "Open Sans", sans-serif;
}

a {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-size: 80px;
  text-shadow: 4px 4px 4px #aaa;
  text-decoration: none;
  color: rgb(3, 104, 0);
}

.letter {
  text-align: center;
  display: block;
  width: 100px;
  cursor: pointer;
  border: 1px solid transparent;
}

.letter:hover {
  border-color: crimson;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.letters,
.container-num {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-gap: 2vw;
  margin-bottom: 100px;
}

.container-num .letter {
  margin-bottom: 25px;
}

#top {
  position: fixed;
  right: 8%;
  bottom: 30px;
  font-size: 30px;
  color: crimson;
  cursor: pointer;
}

.visited {
  color: crimson;
}
