@import url("https://fonts.googleapis.com/css?family=Cousine&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url(../fon2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Cousine", monospace;
}

a {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-size: 80px;
  text-shadow: 4px 4px 4px #aaa;
  text-decoration: none;
  color: rgb(3, 104, 0);
}

.letter {
  text-align: center;
  display: block;
  width: 100px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.letters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-gap: 2vw;
}

#top {
  position: fixed;
  right: 18%;
  bottom: 30px;
  font-size: 30px;
  color: darkred;
}

.visited {
  color: crimson;
}